<h1>Sample App</h1>
<hr noshade/>
<p>This application was made as part of an Introduction to Ruby on Rails lecture
given for the Data Sciences and Technology Entrepreneurship class.</p>
<p>Slides to accompany this code can be found <a href="#">here.</a></p>
