<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/time">Time</a></li>
          <li><a href="/notes">Notes</a></li>
        </ul>
      </div><!-- .nav-collapse collapse -->
    </div><!-- .container -->
  </div><!-- .navbar-innner -->
</div><!-- .navbar navbar-inverse navbar-fixed-top -->
